[bumpversion]
current_version = 3.4.4
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:README.md]
search = Current version: {current_version}
replace = Current version: {new_version}

[bumpversion:file:README.md.template]
search = Current version: {current_version}
replace = Current version: {new_version}
