sudo: required
services: docker
dist: bionic
group: edge
language: ruby
addons:
    apt:
        sources:
            - sourceline: "deb http://deb.debian.org/debian sid main contrib non-free"
              key_url: "https://ftp-master.debian.org/keys/archive-key-9.asc"
        packages:
            - debootstrap
branches:
    only:
        - master
        - develop
env:
    global:
        # Docker Hub username ${DH_USERNAME}
        - DH_USERNAME="luisalejandro"
        # Docker Hub password ${DH_PASSWORD}
        - secure: "SOMNzEN3nwNYiw9K1LCpL55umU7K+4fEtbHdVZNm3pZ5ejgjXxsKxMduUt1ZHopfkmbW77ejMgmKieDRC/QJbIngcaENoP/vNsL3/6VcCScy3pXtS76svOl6+jLRBuvR3xVTQ6BvZwDtK1gozjlDmvvlzzoC2zF4KFHtr/G8BE5iOymv+TsWWS0ReL1NrMI2QAXOZjRI0mShCtaMjFo2/rphdex/GB2Nq6h3pXyi0witQTjb4FrryTpG3Y39tyFVFo1TUJrJPAdL0t9TFQ1asxJXafPfoxd4rGoOW96hbZu8Q0goQoMxs5lYj+4i5HJWq72O5G849KqOa9LH9t9aj7s4ZJBLVccrn0Ksl9rbcEIl0STz5E4Iy9HJHIWiIIwg0tb2/gFNyAMx/7UpybFSpOlTvW+ELZ2vmgbtOVP+eN5Ir5FRNf4vfbtslutLc7thFsomvGUKuRy1tH4HxminFduIwtX0McRlF4UKozS1J3KZ0Y8NRylAWWsBRrlkPDBbDYf+hAKtJsJuvk0/Dau1mSq1JMYMmXna5Qvm5qcXCLx1N0d9/YCzNDwNpExpBHyP3EQwpOqwcR3P/pQr/YXbA69cO/nI1Gf14U2KlfZ0OOMN13WzxJ/nQ7Eeyu8XynFRkggYY0tJEBO+MMJY+EGLSBadkze4KB2Qs+9eL4iPuFE="
    matrix:
%%MATRIX%%
install:
    - gem install docker-api serverspec
before_script:
    - |
        if [ "${TRAVIS_BRANCH}" == "develop" ]; then
            DOCKER_IMAGE_TARGET="${DOCKER_IMAGE_NAME##dockershelf/}"
            sed -i -r 's|FROM\s*(.*?)|FROM \1-dev|g' "${DOCKER_IMAGE_TARGET/://}/Dockerfile"
            sed -i -r 's|FROM scratch-dev|FROM scratch|g' "${DOCKER_IMAGE_TARGET/://}/Dockerfile"
        fi
    - bash build-image.sh "${DOCKER_IMAGE_NAME}" "${DEBIAN_SUITE}"
script:
    - bash test-image.sh "${DOCKER_IMAGE_NAME}" "${DOCKER_IMAGE_EXTRA_TAGS}"
after_success:
    - |
        if [ "${TRAVIS_BRANCH}" == "develop" ]; then
            docker tag ${DOCKER_IMAGE_NAME} ${DOCKER_IMAGE_NAME}-dev
            DOCKER_IMAGE_NAME="${DOCKER_IMAGE_NAME}-dev"
        fi
    - bash push-image.sh ${DOCKER_IMAGE_NAME} ${DH_USERNAME} ${DH_PASSWORD}
    - |
        if [ -n "${DOCKER_IMAGE_EXTRA_TAGS}" ]; then
            for EXTRA_TAG in ${DOCKER_IMAGE_EXTRA_TAGS}; do
                if [ "${TRAVIS_BRANCH}" == "develop" ]; then
                    EXTRA_TAG="${EXTRA_TAG}-dev"
                fi
                docker tag ${DOCKER_IMAGE_NAME} ${EXTRA_TAG}
                bash push-image.sh ${EXTRA_TAG} ${DH_USERNAME} ${DH_PASSWORD}
            done
        fi
