bumpversion==0.6.0
coverage==6.4.1
coveralls==3.3.1
flake8==4.0.1
gitchangelog==3.0.4
mako==1.2.0
pip==22.1.2
pydocstyle==6.1.1
setuptools==62.6.0
tox==3.25.1
virtualenv==20.15.1
wheel==0.37.1
autopep8==1.6.0