bumpversion==0.6.0
coverage==6.5.0
coveralls==3.3.1
flake8==6.0.0
gitchangelog==3.0.4
mako==1.2.4
pip==23.0.1
pydocstyle==6.3.0
setuptools==67.6.1
tox==4.4.11
virtualenv==20.22.0
wheel==0.40.0
autopep8==2.0.2
