bumpversion==0.6.0
coverage==6.5.0
coveralls==3.3.1
flake8==6.1.0
gitchangelog==3.0.4
mako==1.2.4
pip==23.2.1
pydocstyle==6.3.0
setuptools==68.1.2
tox==4.10.0
virtualenv==20.24.3
wheel==0.41.2
autopep8==2.0.2
